.Knight {
  background-color: blue;
  color: white;
}

.Rank--even,
.Rank--odd {
  display: flex;
}

.Rank--even .Square:nth-child(1n) {
  background-color: lightgoldenrodyellow;
  color: olivedrab;
}

.Rank--even .Square:nth-child(2n) {
  background-color: olivedrab;
  color: white;
}

.Rank--odd .Square:nth-child(1n) {
  background-color: olivedrab;
  color: white;
}

.Rank--odd .Square:nth-child(2n) {
  background-color: lightgoldenrodyellow;
  color: olivedrab;
}

.Knight,
.Square {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
}

footer {
  font-size: small;
  margin: 16px 0 0 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
